[2015-11-29 19:30] irundaia opened #1 "Upgrade to libsass 3.3"
Libsass 3.3.2 has been released already. Since this release enables the Sass 3.4 spec, it is desirable to upgrade.

An upgrade is pending on jsass' upgrade to it though. See also issue [#13](https://github.com/bit3/jsass/issues/13) there.

[2015-11-30 08:15] irundaia opened #2 "Source maps for sass files in subdirectories"
Generating source maps in a directory which is not the root asset directory seems to break the source map. Ex. given a directory structure as:

[code]

The source map will refer to the source file relative to its parent (`<base-url>/style.scss`). It has to be verified whether this causes issues on browsers.

[2015-12-01 12:34] irundaia commented on #1
With version v1.3.0, jsass has been upgraded to version 4.0.0. With it, libsass has been upgraded to version 3.3.2.

[2015-12-01 12:34] #1 closed, assigned to irundaia

[2015-12-03 15:21] irundaia commented on #2
I've looked at chrome, firefox and safari. These browsers use the source maps properly.

[2015-12-03 15:21] #2 closed, assigned to irundaia

[2015-12-13 10:01] irundaia opened #4 "Using web jars in Sass files"
Currently, it is not possible to include web jars in your own sass files. Suppose that I'm using the font-awesome web jar and I want to add some new animations to it. I wouldn't want to pollute my HTML with additional css sheets, but I want to include just one file for all font-awesome features. Then, I'd write a Sass file like:

[code]

While this should be valid, the sbt-web sources directory do

[2015-12-13 11:13] irundaia commented on #4
Adding the web jars directory to the include paths fixes this (see commit 75a6bcd708c0d36337800ef08fce310f6d9a860b). However, this messes up the source maps.

[2015-12-13 12:43] irundaia commented on #4
The source maps are theoretically fixed (3e6284fce9170b7e1a6c88fca1536a629e80ac55). Due to a small bug in jsass, included directories aren't used when there multiple ones. Currently, I'm waiting on [my fix](https://github.com/bit3/jsass/pull/16) to be merged and released. Once that's done and I've upgraded to the newer version, this issue can be closed.

[2015-12-13 20:46] irundaia commented on #4
I've updated to jsass 4.0.1. This fixed the bugs.

[2015-12-13 20:46] #4 closed, assigned to irundaia

[2015-12-29 15:10] nilsklimm opened #5 "Build error: Illegal character in path"
I get build errors when there are spaces in the absolute path of the project root.

Works: /home/user/workspace/projectroot
Does not work: /home/user/work space/projectroot

The error message looks similar to this:

[error] /home/user/work space/projectroot/app/assets/stylesheets/somestyles.scss:1: Error: Illegal character in path at index 15: /home/user/work space/projectroot/app/assets/styleshee

[2015-12-29 16:49] irundaia commented on #5
I've been having a quick look at it. It seems to be the same issue as listed in [#17](https://github.com/bit3/jsass/issues/17) of jsass. Unfortunately, this issue cannot be solved in this plugin, but it has to be solved in jsass.

I'll be proposing a PR shortly (I hope).

[2015-12-31 09:46] irundaia commented on #5
I don't think that there is a clean solution for this since the URI class is used internally in `jsass`. I'm working on implementing the `libsass` interface myself (should be done this weekend).

[2016-01-03 23:33] irundaia commented on #5
I've more or less finished the migration.. Unfortunately, the build is failing due to an incorrectly compiled library. Since I've compiled it as a shared library, it has a link error (java.lang.UnsatisfiedLinkError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.18' not found)

@nils81 you wouldn't be able to tell me how I could compile a shared library without depending on source

[2016-01-04 15:59] nilsklimm commented on #5
Unfortunately, i have no experience in compiling java and c++. I am a frontend developer :(

[2016-01-04 21:16] irundaia commented on #5
Same here, there's a good reason why I'm a java/scala programmer. :'(
I'll have a go at docker.

[2016-01-07 19:24] irundaia commented on #5
I've got some issues with loading the native libraries at runtime. All tests succeed. But loading the library from SBT fails. See also [this issue](https://github.com/sbt/sbt/issues/2351)

[2016-01-12 15:15] irundaia opened #6 "Write more SBT scripted tests"
Currently, I'm only testing a trivial build setup. I think I should write more scripted tests:
- [x] Includes relative to source file/import paths/web-jars;
- [x] Incremental compilation;
- [ ] Creation of source maps;
- [ ] Effects of all parameters;
- [ ] Project setups with strange characters in their name such as spaces.

[2016-01-12 15:22] irundaia commented on #5
This issue should have been fixed with the new v1.4.1 release. Can you verify this?

[2016-01-12 15:36] irundaia opened #7 "Filtering of the source maps?"
Is the filtering of the source maps (files and the mappings)still needed? I don't think it should be, now that jsass is no longer used. See also commit 174a3667e14308f83e6c3b552f799e1e8e8522dc. Removing this code would simplify the plugin a lot.

[2016-01-12 15:40] irundaia opened #8 "Include compilation duration"
I think it would be nice to also log the sass compilation duration along with the number of files created.

[2016-01-12 15:43] irundaia opened #9 "Documentation compilation native libraries"
I think it would be good to document the actions needed to compile the native libraries.

[2016-01-12 17:30] irundaia commented on #7
Now that jsass has been dropped, the source maps are no longer cluttered. Filtering can be removed.

[2016-01-14 10:20] irundaia opened #10 "Upgrade to libsass v3.3.3"
Libsass v3.3.3 will catch up on the Ruby implementation of Sass (v3.4.20). Once it is released, we should upgrade to the new version.

See also [this issue](https://github.com/sass/libsass/issues/1808).

[2016-01-16 15:20] irundaia commented on #5
I've tested this under OS X as well as Windows. On both platforms it seems to work. Hence, I'm closing this issue again.

[2016-01-16 15:20] #5 closed, assigned to irundaia

[2016-01-20 07:42] irundaia commented on #10
Libsass 3.3.3 has been released. Building images.

[2016-01-20 08:58] #7 closed, assigned to irundaia

[2016-01-20 08:58] #8 closed, assigned to irundaia

[2016-01-20 08:58] #10 closed, assigned to irundaia

[2016-02-13 19:35] thepratt opened #11 "Core dump on nested @extend"
I noticed this when using the materialize 0.97.5 web jar. When `@extend` runs more than 1 level deep, everything dies in a core dump.

Inside the materialize `_buttons.scss` there is a nested include:

[code]

Commenting out `@extend .btn` lets everything compile, and all is fine.

[2016-02-13 22:03] irundaia commented on #11
Were  you using "org.webjars.bower" % "materialize" % "0.97.5"? If so, I'll have a look once I get home. Which OS you're using?

[2016-02-13 22:11] thepratt commented on #11
Yes, it was the bower version.

[2016-02-14 07:15] irundaia commented on #11
Okay, I've had a quick look. This bug seems to have been introduced with the upgrade to libsass 3.3.3. A quick workaround would be to use sbt-sassify version 1.4.1. I've tested it there, and it seems to work in this version.

[2016-02-14 09:19] irundaia commented on #11
I've tried to compile using sassc with libsass 3.3.3. This also fails with a segmentation fault. I've been trying to generate a minimal example exhibiting this behaviour, but I as soon as I've condensed it to a small example, libsass will compile it, so I'm unsure how I should report this issue to the libsass team. :(

[2016-02-14 17:43] thepratt commented on #11
Sorry, didn't see the second part of your question on my phone. I'm using Ubuntu 15.04.

Here is a base case that I found (using the stuff from materialize to help narrow down) that fails when using 1.4.2:

[code]

Everything succeeds when I remove `&:hover`.

[2016-02-14 20:46] irundaia commented on #11
I added the second part to my question later, it's likely that's why you missed it. I just wanted to make sure that I could reproduce the error.

In any case, this seems to be a different issue. In your example you use `@extend .z-depth-1-half;` while the selector is defined as `.z-depth-half-1`. This should not cause a segfault so I've reported [this issue](https://github.com/sass/libsass/issues/

[2016-02-23 22:05] irundaia commented on #11
The bug causing the example to crash has been fixed. However, materialize still causes libsass to crash. I'll try to determine the cause tomorrow again.

[2016-03-20 23:24] irundaia opened #12 "Update to libsass 3.3.4"
Libsass 3.3.4 has been released. Might be good to update to it.

[2016-03-20 23:31] #9 closed, assigned to irundaia

[2016-03-20 23:31] #12 closed, assigned to nobody

[2016-03-29 16:45] rpiaggio opened #13 "Encoding issue on Windows"
https://gist.github.com/rpiaggio/1e08ae305a14253da97b

In the Gist above, with expected output (produced by http://www.sassmeister.com/) line 19 shows correct UTF-8 character.

When running `sbt-sassify` on Linux, this works correctly.

However, when running it on Windows, that line is output as `.fa-linkedin:before{content:"?"}` with an actual question mark (HEX 3F) in the file.

I'm not sure thi

[2016-03-29 18:57] rpiaggio commented on #13
It seems to be a `sbt-sassify` issue.

Working with `grunt-sass` on Windows works fine.

[2016-03-29 20:26] rpiaggio commented on #13
After a bit more investigation, this seems to be originated by the way JNA converts strings: https://jna.java.net/javadoc/overview-summary.html#strings.

From there: `When converting Java unicode characters into an array of char, the default platform encoding is used, unless the system property jna.encoding is set to a valid encoding. This property may be set to "UTF8", for example, to ensure all

[2016-03-29 20:30] irundaia commented on #13
I was looking into this issue already. I can confirm that it seems to be an encoding issue. I think this issue is occurring when writing the output CSS to a file. (When debugging, I can see that the compiled string is consistent with the output from my OS X results.)

[2016-03-29 20:41] rpiaggio commented on #13
Hi @irundaia!

Are you using OS X then? I don't know that OS X default encoding is, does the issue happen there? I can confirm that it doesn't happen on Linux.

I was following the JNA path... If JNA is the issue, then I think this could be solved by receiving the CSS output as a `Pointer` instead of a `String` in https://github.com/irundaia/sbt-sassify/blob/master/src/org/irundaia/sass/jna/SassLi

[2016-03-29 21:01] rpiaggio commented on #13
Or, if it is an issue when saving the file, it's just a matter of specifying UTF-8 character encoding in https://github.com/irundaia/sbt-sassify/blob/master/src/org/irundaia/sass/SassCompiler.scala#L69.

(Calling this: https://docs.oracle.com/javase/7/docs/api/java/nio/file/Files.html#write(java.nio.file.Path,%20java.lang.Iterable,%20java.nio.charset.Charset,%20java.nio.file.OpenOption...))

[2016-03-29 21:01] irundaia commented on #13
Yup I've tested it on both OS X and Linux.

Now, the issue does not lie with the interface between JNA and the scala/java code but in the way I wrote the output to the destination file. I converted the `String` to an `Array[Byte]` using the `String.toBytes()` function. Apparently, this messes up the character encoding.

If I instead use `String.toBytes(StandardCharsets.UTF_8)`, it seems to be work

[2016-03-29 21:02] rpiaggio commented on #13
Ah, great! Thank you very much for fixing it. Sorry if I overwhelmed you with "off the track" info.

[2016-03-29 21:19] #13 closed, assigned to nobody

[2016-03-29 21:21] irundaia commented on #13
Yup, it's the latter issue. I've tested it on both Linux and OS X, it seems to work there as well. I'm a bit worried though, that this is OS (perhaps even FS) dependant. In any case, I'll release the fix as it is. I hope this solves your issues. If not, please let me know.

[2016-03-29 21:57] rpiaggio commented on #13
Thank you! I confirmed that the issue is fixed for me.

[2016-03-29 21:58] irundaia commented on #13
Great, thanks!

[2016-04-10 15:40] CapeSepias commented on #11
any progress? love your plugin.

[2016-04-10 19:46] irundaia commented on #11
Thanks for the love, I appreciate it.

I've filed [an issue](https://github.com/sass/libsass/issues/1960) with libsass. They'll fix the segfault in the next release (most likely). Unfortunately, this will result in incorrect CSS. The issue has been scheduled to be fixed in the release afterwards (planned for June 20th).

[2016-04-19 16:48] irundaia opened #14 "Upgrade to libsass 3.3.5"
Libsass 3.3.5 has been released. Upgrading should partially fix #11.

[2016-04-19 19:41] irundaia commented on #14
Unfortunately, the upgrade does not prevent the segfault mentioned in #11

[2016-04-19 19:43] #14 closed, assigned to irundaia

[2016-04-29 22:19] irundaia opened #15 "Upgrade to libsass 3.3.6"
We should upgrade to libsass 3.3.6. This really should fix #11.

[2016-04-29 22:41] #15 closed, assigned to nobody

[2016-04-29 22:45] irundaia commented on #11
I've just released sbt-sassify v1.4.6. With the new version of libsass, the compile issues with materializecss seems to have been fixed. Closing this issue.

[2016-04-29 22:45] #11 closed, assigned to nobody

[2016-08-02 11:18] irundaia opened #16 "Use context->getIncludedFiles to extract file dependencies"
Apparently, the libsass C-API includes the following function:

[code]

Currently, we're getting the included files out of the source map. If we use the function above, we can probably drop the dependency on `play-json`.

[2016-08-02 11:47] irundaia commented on #16
Nope, I forgot that we actually [modify the source maps](https://github.com/irundaia/sbt-sassify/blob/093d607/src/main/scala/org/irundaia/sass/SassCompiler.scala#L98-L110) that we get out of libsass.  It is possible to simplify the [extraction of the dependencies](https://github.com/irundaia/sbt-sassify/blob/093d607/src/main/scala/org/irundaia/sass/SassCompiler.scala#L91) though.

[2016-08-05 10:41] eiennohito opened #17 "Native library does not work on ubuntu 16.04 x64"
Error:

[code]

[2016-08-05 10:48] irundaia commented on #17
Apologies for the inconvenience, I'll have a look at it this evening.

Thanks for the report

[2016-08-05 10:53] eiennohito commented on #17
Wait a sec, could be problems with the (sort of weird) local configuration.

[2016-08-05 11:24] eiennohito commented on #17
Sorry, my bad, everything works.

[2016-08-05 11:24] #17 closed, assigned to irundaia

[2016-08-05 11:33] irundaia commented on #17
That's quite alright, glad you figured it out :)

[2016-09-19 19:55] mslinn opened #18 "cscc file in multimodule project copied but not processed"
In my multimodule Play webapp, I put the following in `modules/cadenza/app/assets/stylesheets/main3.scss`:

[code]

I had to modify the `@import` path recommended by the [docs](https://github.com/irundaia/sbt-sassify#mixing-sass-and-web-jars) to account for the placement of the `lib/` directory in a multimodule project. The following files were output:

[code]

All of the generated files had the `

[2016-09-20 04:31] irundaia commented on #18
To be honest I haven't tested with a multimodule project.

@mslinn could you perhaps provide a repo with a minimal example? I'll have a look at it once I get home from my day job.

Thanks for the report!

[2016-09-20 04:32] irundaia commented on #18
Also, just to be sure, which version of sbt-sassify are you using?

[2016-09-20 05:44] mslinn commented on #18
I used sbt-sassify v1.4.6. I'll put a multimodule example together for you tomorrow.

[2016-09-20 06:16] irundaia commented on #18
Great thanks! I think that it might be caused because you're importing css files rather than scss files. I'll have a look whether this compiles with sassc/ruby sass

[2016-09-20 09:45] mslinn commented on #18
I got most of what I wanted working. [The project is here.](https://github.com/mslinn/play25multiproject/tree/sass) The bottom of the README has a few questions for you.

[2016-09-20 11:26] irundaia commented on #18
I'll have a look at it this evening. Thanks for the example

[2016-09-28 08:15] irundaia commented on #18
I wanted to give an update on this issue. I've checked out the project from the git repo, but SBT seems to stall when running `sbt assets` (both on Windows and OS X). Unfortunately, I haven't found enough time to figure out why SBT stalls... I'm iteratively removing parts of the build to see which part is blocking SBT

[2016-12-11 00:08] #16 closed, assigned to irundaia

[2017-01-12 14:08] driverpt opened #19 "Allow execution within the Asset Pipeline"
e.g.: `pipelineStages := Seq(sassify, filter, digest, gzip)`

So that `filter` can filter out .scss files from the result.

[2017-01-13 14:44] irundaia commented on #19
I'm not sure that the conversion to a pipeline plugin is necessary. I think [sbt-filter](https://github.com/rgcottrell/sbt-filter) will only perform its filtering when a *production* build is triggered. I'll try to find some time to look at this this evening.

[2017-01-13 15:12] driverpt commented on #19
@irundaia , the purpose would be to have something similar to sprockets. To process the Resources as a whole and be able to output 1 or more minified javascript and stylesheets file.

[2017-01-13 16:07] irundaia commented on #19
@driverpt, I fail to see how this is impossible with the current approach. If [sbt-filter](https://github.com/rgcottrell/sbt-filter) removes the `.scss`/`.sass` files, you can set up your final assests the way you want. If you want to have 1 minified file, that's up to you...

Also from the [sbt-web](https://github.com/sbt/sbt-web) README.md:

So if I understand this correctly, first source tasks

[2017-01-13 16:47] driverpt commented on #19
I want for example `pipelineStages:= Seq(uglify, concat, gzip, digest)` and i want to output 2 .js files (main code and libs) and 1 single stylesheet file.

When i developed an app in Grails, i used [this](https://github.com/bertramdev/asset-pipeline), which has a similar sprockets behaviour.

e.g.:

[code]

And the output to be

[code]

Any ideas how to achieve this ?

[2017-03-09 20:53] johno1985 opened #20 "assetRootURL override not working"
We have a slightly different directory structure in our project.
Our assets directory resides under /app/uk.myorg.com/assets.

In our Sbt build file we have set SassKeys.assetRootURL := "/uk.myorg.com". When we build, no css files are generated and nothing is output in the target directory.

[2017-03-23 15:52] irundaia commented on #20
I believe you're misinterpreting the `assetsRootUrl` setting. This setting only affects the source maps. This is supposed to be the url where the source code will be *hosted*.

So suppose you've got a `main.scss` and you're hosting it at `your.host.org/foo/main.scss`. The `assetsRootUrl` setting will ensure that the browser can find the source when you're inspecting the original code.

What you're

[2017-03-23 15:54] johno1985 commented on #20
Ahh! Yes, thanks Han

On 23 March 2017 at 15:52, Han van Venrooij <notifications@github.com>
wrote:

[2017-03-23 15:56] irundaia commented on #20
That was fast! ^^

You're welcome

[2017-03-23 15:56] #20 closed, assigned to nobody

[2017-05-03 10:00] schmitch opened #21 "Segfaulting on Mac OS X with Homebrew installed libsass 3.4.4"
Actually it looks like that sbt-sassify tries to load a libsass installed via homebrew which will result in segfaults when libsass v3.4.4 will be installed:

[code]

Memory Mapping is:
[code]
Reverting to 3.4.3 or uninstalling it fixes the issue.

It took me a while to figure it out that it will use the libsass that is loaded via homebrew.

Well I think we should actually add something to the read

[2017-05-04 15:29] irundaia commented on #21
Urgh... I wasn't expecting the JVM to prefer the platform library over the bundled one.
Do you perhaps know of a way that I can tell jna to only load the library located in the JAR? In my opinion it should not matter whether someone has libsass installed himself.

[2017-05-04 15:35] schmitch commented on #21
(I wasn't expecting it, too I tought about 1000 other things, but never about the homebrew library..).
hm... I'm not sure but I doubt there is no possible way to actually handle that.
Actually I think when specifiying the library with the name:
`public static final SassLibrary INSTANCE = (SassLibrary)Native.loadLibrary(SassLibrary.JNA_LIBRARY_NAME, SassLibrary.class);`

instead of a path, it will

[2017-05-08 13:07] Permik opened #22 "Fix the readme file"
There is a typo in the readme file in the options table.
https://github.com/irundaia/sbt-sassify#options
"assetsRootURL" should be "assetRootURL"

[2017-06-27 22:11] irundaia commented on #22
I've updated the README. Apologies, for the confusion.

[2017-06-27 22:11] #22 closed, assigned to nobody

[2017-07-03 23:18] strelec opened #24 "Remove the source map in production."
That's it.

[2017-07-04 07:20] irundaia commented on #24
Isn't this as simple as disabling the source maps in your build.sbt?

[code]

As far as I know, `sbt-web` does not provide handles that tells any plugin whether the code is being compiled for production or not.

How do you do this for your other (JS) assets?

[2017-07-18 05:04] ngbinh opened #25 "Publish for sbt 1.0.0?"
Looks like we need to wait for sbt-web first https://github.com/sbt/sbt-web/issues/141
http://www.scala-sbt.org/1.0/docs/sbt-1.0-Release-Notes.html#sbt+1.0.0-RC2

[2017-09-07 18:20] rpiaggio commented on #25
`sbt-web` is now released for sbt 1.0. Please consider publishing `sbt-sassify` for sbt 1.0 please. Thank you!

[2017-09-15 13:57] mvdstam opened #28 "NoSuchMethodError with Play 2.6.5"
Hi,

Since Play 2.6.5, `sbt-sassify` doesn't seem to work properly, causing a internal server error:

[code]

I'm using `sbt-sassify` version `1.4.9`.

Please let me know if you need any more information. Thanks!

[2017-09-16 15:27] amedeomantica commented on #28
it is broken in 2.6.3 too

[2017-09-16 17:28] luisnuxx commented on #28
Same here, for 2.6.5

[code]

[2017-09-18 07:07] irundaia commented on #28
Thanks for the report, I'll only be able to have a look at it tomorrow evening unfortunately.

[2017-09-18 10:33] mvdstam commented on #28
Cheers @irundaia! Can you please release and publish when you fix this?

Thanks!

[2017-09-18 10:41] irundaia commented on #28
@mvdstam that's the idea :)

[2017-09-18 11:34] adridadou commented on #28
It looks like the error in the pull request that was merged some time ago (but in no release)
Maybe all you need to do is making a release

https://github.com/irundaia/sbt-sassify/pull/26

[2017-09-22 06:12] mvdstam commented on #28
Ping @irundaia

[2017-09-23 14:48] LogicalTime commented on #25
+1 yes please. Can't use bootstrap 4 beta with SBT 1 without this. Using CentOS.

[2017-09-23 15:23] irundaia commented on #28
I can confirm that the PR that was merged a couple weeks ago fixes this issue. Unfortunately, I wasn't aware that this would prevent issues with play 2.6.5. I'll see what it takes to release the fix for both sbt 0.13 and 1.0.0

[2017-09-23 18:49] rwalus commented on #28
@irundaia  I don't know if I understood you well ... but I need the patch so please drop the tutorial as you get rid of the sassify error..

thx!

[2017-09-23 18:54] TonnyGaric commented on #28
I can also confirm that `sbt-sassify` doesn't seem to work properly in `Play 2.6.5`, causing a internal server error. I am also waiting on the fix to be released.

[2017-09-23 23:36] LogicalTime commented on #25
This seems to be done now with version 1.4.10

[2017-09-24 09:26] irundaia commented on #28
@TonnyGaric @rwalus @mvdstam @adridadou @luisnuxx @amedeomantica, I’ve released version 1.4.10 yesterday. Could you check whether this version solves your issues?

[2017-09-24 09:27] irundaia commented on #25
@LogicalTime did you test it with sbt 1.0.x? If so I’ll close this issue.

[2017-09-24 09:36] mvdstam commented on #28
@irundaia Cheers, I'll let you know asap if `1.4.10` runs with Play `2.6.5`.

[2017-09-24 09:42] adridadou commented on #28
@irundaia did you compile it with Java 9 ? because I get this error messge:
java.lang.UnsupportedClassVersionError: org/irundaia/sass/jna/SassLibrary has been compiled by a more recent version of the Java Runtime (class file version 53.0), this version of the Java Runtime only recognizes class file versions up to 52.0

[2017-09-24 10:20] irundaia commented on #28
@adridadou, d'oh! I've set the target jre version to 1.8. I've uploaded v1.4.11. Could you have a try with that version?
It works in my VM. But I just want to make sure that it works for you.

[2017-09-24 10:30] adridadou commented on #28
it works much better! Thank you !

[2017-09-24 19:28] rwalus commented on #28
Java 9? .....

I do not have java 8, but I keep getting the error :(
@irundaia You can do it? ... please...

[code]

[code]

[2017-09-24 22:45] irundaia commented on #28
@rwalus, could you let me know which version of sbt-sassify, sbt, scala and java you’re using?

[2017-09-25 07:15] mvdstam commented on #28
Hi @irundaia, I can confirm that version `1.4.11` works with Play `2.6.5`. For sake of completeness, I'm running Scala 2.12 and Java 1.8.

Thanks for the quick fix, and thanks for the awesome plugin! 😃

[2017-09-25 07:15] #28 closed, assigned to nobody

[2017-09-25 07:43] ngbinh opened #29 "UnsupportedClassVersionError on JDK 8"
when I tried version `1.4.10` on JDK 8, I encountered this error:

[code]

Looks like the library was published with JDK 9?

[2017-09-25 09:12] steffenhaak commented on #28
@irundaia: Thanks for the quick fix! You saved my day :)

[2017-09-26 01:42] LogicalTime commented on #25
I'm getting some errors. No Such MethodError  SBT.web.CompileProblems$report

Also one of the most recent version of sbt-web depending has a library compiled with Java 9.

[2017-09-26 02:56] LogicalTime commented on #29
Yep, looks like it was fixed in 1.4.11 though.
https://github.com/irundaia/sbt-sassify/issues/28

[2017-09-26 02:58] LogicalTime commented on #25
I see 1.4.10 was the Java 9 cuplrit. I will try 1.4.11 tomorrow and let you know how it goes. Thanks!
https://github.com/irundaia/sbt-sassify/issues/28

[2017-09-26 03:30] ngbinh commented on #25
fixed on `1.4.11`. Thanks

[2017-09-26 03:30] #25 closed, assigned to nobody

[2017-09-26 03:30] ngbinh commented on #29
thanks. Indeed!

[2017-09-26 03:30] #29 closed, assigned to nobody

[2017-09-26 10:22] amedeomantica commented on #28
Cool !

[2017-10-10 21:07] gregor-rayman opened #30 "fails to compile selector input[type=url]"
When I try to compile the following (s)scc:

[code]
the plugin fails with this error message:
 Error: Invalid CSS after "i": expected 1 selector or at-rule, was "input[type=url] {"

With the command line `sass` version 3.5.2 there is no problem.

It seems that the problem is caused by the unquoted `url`.
`input[type=email]`, 'input[type=fooooo]` and `input[type="url"]` compile without problems.

S

[2017-10-11 01:33] irundaia commented on #30
Compiler issues are typically caused by issues in libsass. This particur issue seems to have been [fixed already](https://github.com/sass/libsass/issues/2429).

However it hasn’t been released in a stable version yet (supposedly it has been [fixed](https://github.com/sass/libsass/issues/2456) in libsass version 3.5.0.beta3). Given that they’re using the 3.5 betas in node-sass, it might be better t

[2017-10-11 05:59] motilio commented on #28
Hi @irundaia, It seems that version 1.4.11 is working with Play 2.6.6, Scala 2.12.3, Java 1.8.

Thanks!

[2017-11-06 10:27] Spenhouet commented on #28
I had to find this thread to see that version `1.4.11` is available. Could it be that it is not tagged on GitHub?

[2017-11-07 16:04] irundaia commented on #28
@Spenhouet it is entirely possible, I'll check in an hour or so whether I can fix that. Apologies for the inconvenience

[2017-11-28 23:11] busti opened #31 "Recompile sass files when play reloads"
Would it be possible to reload sass files whenever they have been changed and a http request is made to play when in interactive mode?
Similar to play sources recompiling on reloads.

[2017-11-29 06:06] irundaia commented on #31
@Busti, this should work out of the box. If it does not work for you, could you perhaps provide git repo that showcases this issue?

[2017-11-29 13:06] busti commented on #31
It only works for the first reload for me. After that changes have no effect anymore.
I created a repo in an attempt to reproduce the issue, but I was unable to do so just yet.
This is the commit that adds sbt-sassify:
https://github.com/Busti/play-silhouette-seed/commit/708263313e65d7741478b03d6a53fa9e0c30ec1b

I chose mohiva/play-slick-seed since it is closes to what I am working with.
I recentl

[2017-11-30 14:19] irundaia commented on #31
Okay, I'm closing this issue for now. If you manage to reproduce your issue, feel free to reopen :)

[2017-11-30 14:19] #31 closed, assigned to nobody

[2017-12-15 15:10] migo opened #32 "1.4.10 not working with Java 8"
Version 1.4.10 of sbt-sassify does not seem to work with Java 8:

(web/web-assets:sassify) java.lang.UnsupportedClassVersionError: org/irundaia/sass/jna/SassLibrary has been compiled by a more recent version of the Java Runtime (class file version 53.0), this version of the Java Runtime only recognizes class file versions up to 52.0

[2017-12-15 15:17] irundaia commented on #32
I’m sorry for this issue, upgrading to version 1.4.11 should fix this issue. (This is exactly the same code, but it’s been compiled against a different target JDK)

[2018-01-05 00:53] yellowstonesoftware opened #33 "Compiled output going to unexpected directory?"
Hi
The documentation mentions for the example the compiled sass would be available at public/stylesheets/

It looks like in my Play 2.6.9 application the output goes to target/web/sass/main/stylesheets rather than the expected target/web/public/main/stylesheets. Is there a configuration option I'm missing?

Thanks!

[2018-01-09 13:55] irundaia commented on #33
Hi @peternitro,

I'm sorry for the late response, but could you perhaps share your project setup (at least the folder/package structure and the relevant sbt-sassify settings)?

It's been a while since I last looked at which directory the compiled Sass is output to. I'll have another look at it in the mean while.

[2018-01-09 14:58] irundaia commented on #33
@peternitro, I've run a quick test. In my case, the css file is output to both `target/web/sass/main/stylesheets` as well as `target/web/public/main/stylesheets`.

If I remember correctly, sbt-web configures the `sass` directory to be a temporary directory where the sbt-sassify plugin can do it's business. When the plugin is done, the results are copied over to the `public` directory (along with a

[2018-01-11 16:18] yellowstonesoftware commented on #33
hi @irundaia - thank you for checking, i put together a quick skeleton problem and the compiled sass ended up exactly in the two directories you mentioned. so i think it's safe to say there's something wrong with my specific project, i'll dig in and reopen here if need be, thanks again and apologies for the false alarm :)

[2018-01-11 16:18] #33 closed, assigned to nobody

[2018-01-11 16:19] irundaia commented on #33
No problem, let me know if you've got an example that exhibits the behaviour.

[2018-01-18 13:22] nartamonov opened #34 "1.4.11 is not mentioned in the list of releases"
Latest release according to the list is 1.4.10.

[2018-02-08 04:51] abdelrahmanmohamed commented on #28
@irundaia I have the same issue with play 2.6.11 and scala version 11

[2018-02-08 05:03] abdelrahmanmohamed commented on #32
any updates on that issue

[2018-02-15 02:52] LogicalTime opened #35 "Issue with SBT 1.1.0 and fontawesome"
Using sbt-sassify 1.4.11, SBT 1.1.0 and webjars fontawesome 4.7.0 there are issues with the compiled css. All the icons show up as triple question marks. This doesn't happen when you switch to SBT 0.13.16 and keep everything the same. I think it's escaping the icon codes incorrectly? I'll follow up with an example project within 24hrs.

[2018-02-15 04:17] LogicalTime commented on #35
I just confirmed that this issue happens with sbt1.1.1 as well. Here is a project you can clone and check out:
https://github.com/LogicalTime/sassify-sbt-error

I described the erroneous output in the readme.

[2018-02-15 04:32] LogicalTime commented on #35
I tried it with SBT 1.0.4 and there are no problems. So that must mean the issue is on the SBT end. Could you track down the issue a little more specifically so we can submit an issue?

[2018-02-21 16:33] irundaia commented on #35
Hi @LogicalTime .

I've tried to find a thing SBT changed causing this issue. But I can't find it. I did manage to find a workaround though. I'll try to do some more testing here.

[2018-02-22 15:31] LogicalTime commented on #35
Thanks for the response! Maybe it's a bug from SBT, Scala, or somewhere else that was fixed and so the error started popping up

[2018-02-23 17:50] LogicalTime commented on #35
Would you mind sharing the work around? I'd like to be able to use SBT 1.1.x. also it could give insight into figuring out how the issue came about.

[2018-02-24 08:00] irundaia commented on #35
I'm currently working on release 1.4.12. This includes the fix for font-awesome.

[2018-02-24 15:08] irundaia commented on #35
@LogicalTime, I've released v1.4.12. Could you have a look at whether this has solved your problems with font-awesome?

[2018-02-25 05:30] LogicalTime commented on #35
Looks good to me on my test project! Thank you! What was the source of the issue?

[2018-02-25 05:47] irundaia commented on #35
Good to hear that your issues have been solved. :)

So the problem was that Libsass always outputs the compiled css using UTF-8 encoding. Prior to sbt 1.0, the resulting string (when passing it to Java) was correctly interpreted as UTF-8. With sbt 1.+, the String got interpreted in some other ecoding (presumably the platform standard).

To fix it, I only let JNA deal with passing the bytes to Java

[2018-02-25 05:47] #35 closed, assigned to nobody

[2018-02-25 06:06] irundaia commented on #32
@abdelrahmanmohamed please upgrade to version 1.4.11 or 1.4.12. That should solve this issue.

[2018-02-25 06:06] #32 closed, assigned to nobody

[2018-02-25 06:06] irundaia commented on #34
Apologies for the delay. I've added all new versions to the list of releases.

[2018-02-25 06:06] #34 closed, assigned to nobody

[2018-02-25 06:09] irundaia commented on #30
@gregor-rayman, I've just released version 1.4.12. This version builds on uses a newer version of libsass. This contains the fix for your issue.

Could you verify that it has been fixed for you?

[2018-02-25 17:15] LogicalTime commented on #35
Thanks! Really go to know in case I see something similar happen in the future.

[2019-03-30 03:25] pschichtel opened #37 "Unable to build bootstrap 4"
Hi. I just tried to @import bootstrap into my main.scss but it failed with the error below.
Running sassc with the latest libsass works just fine, downgrading libsass to 3.4.9 as used by sassify will trigger the same bug again.

[code]

[2019-03-30 03:56] pschichtel commented on #37
Build a version locally against 3.5.5 and that seems to work without problems.

[2019-03-31 14:26] pschichtel commented on #37
#38 and #39 resolve this.

[2019-04-06 11:41] pschichtel commented on #37
@irundaia Are you still working on this project?

[2019-04-06 13:13] irundaia commented on #37
@pschichtel, I’m sorry, I hadn’t seen your PR’s.
I have to say that I haven’t had reason to update this package of the last couple of years. But in case of any feature requests/ PR’s, I intend to perform maintenance.

Thanks for the PR’s I’ll have a look at them now.

[2019-04-06 14:03] pschichtel commented on #37
Great to hear. I suspected you just didn't see it.
do you have plans for a fix release already?

[2019-04-06 14:04] irundaia commented on #37
I'm testing some things now. If that works, I'll update push the release today.

[2019-04-06 16:19] pschichtel commented on #37
Cool, thanks

[2019-04-10 11:06] pschichtel commented on #37
btw you linux x86_32 docker image seems to be broken as well, apt couldn't find the repository servers. I personally don't think x86_32 is relevant on dev systems, but I'd say either fix it or remove it.

[2019-04-28 13:58] irundaia commented on #37
@pschichtel,

I just released version 1.4.13 of sbt-sassify. This should fix your issues with compiling bootstrap. Could you have a look at whether you have any other issues?

Thanks!

[2019-04-28 13:59] irundaia commented on #30
Closing due to inactivity

[2019-04-28 13:59] #30 closed, assigned to nobody

[2019-04-28 13:59] irundaia commented on #24
Closing due to inactivity

[2019-04-28 13:59] #24 closed, assigned to nobody

[2019-04-30 09:33] pschichtel commented on #37
Great, I will test it this week.

[2019-04-30 22:26] pschichtel commented on #37
works, thanks

[2019-04-30 22:27] #37 closed, assigned to nobody

[2019-05-02 11:33] busti opened #41 "Importing an absolute path"
Is it possible to import sass files from an absolute path?
At the moment I am using relative paths for imports all over the place. As a project grows this can get quite messy: `@import '../../../../colors';`

Is there a way to point directly to the root directory in `/assets/stylesheets`?

[2019-05-02 18:01] irundaia commented on #41
@Busti, you can use the root directory of your assets directly. This depends on the value of `sourceDirectory in Assets` (from sbt-web). I think that by default this should be `src/main/assets`.

So suppose you've got a directory structure like:
[code]

Then you can import `_import.scss` by simply using `@import 'stylesheets/import/import'`. Note that a leading `/` would mean an import relative to

[2019-05-02 18:12] irundaia commented on #41
I just added the example, you can find it [here](https://github.com/irundaia/sbt-sassify/tree/master/src/sbt-test/imports/relative-to-root).

Does that answer your question?

[2019-05-04 01:08] busti commented on #41
That works perfectly.
Thanks a lot for adding the example.

[2019-05-04 01:08] #41 closed, assigned to nobody

[2019-05-21 12:46] rwalus opened #42 "autoprefixer"
It possible to exchange with prefixes during compilation? ex. sbt-autoprefixer

[2019-05-21 13:16] irundaia commented on #42
@rwalus, it should be possible to simply apply sbt-autoprefixer after the sass files have been compiled. Have you tried to put sbt-autoprefixer into your assets pipeline?

[2020-01-27 21:10] kklorenzotesta opened #43 "JVM crash on alpine linux"
Using the version 1.4.13 on alpine linux cause the java runtime to crash, with version 1.4.12 works fine. This is a minimal repository reproducing the bug: [repository](https://github.com/kklorenzotesta/SbtSassifyBug)

Running `docker-compose up` in the repository starts a docker container with openjdk:8-alpine that runs `sbt assets`. This cause the jvm to fail with the following message:
[code]

[2020-01-28 06:35] irundaia commented on #43
Hmm typically this is caused by a memory issue in libsass itself. I’ll have a look at whether this issue can be solved by upgrading libsass, if not, I’ll report it upstream.

Thanks for letting me know!

[2020-02-28 00:35] Mat2095 opened #44 "Use .min.css extension for minified output"
When using compression in sbt-less, the output-file will end with .min.css.
https://github.com/sbt/sbt-less/blob/1.1.2/src/main/resources/lessc.js#L49

It would be nice if sbt-sassify could do the same. However I see how this would break existing projects. Maybe it could be added as an option? I'm not sure if that would be the right thing.

[2020-05-14 14:46] SanityResort opened #45 "Plugin version for Scala 2.13 not available"
We are currently trying to update our project to Play 2.8.x and Scala 2.13. We have this plugin included in our project according to the Play documentation.

Currently the Plugin is not available for Scala 2.13 which blocks our upgrade. Are there any plans or maybe an eta on when the plugin will be available for Scala 2.13

[2020-05-17 08:56] irundaia commented on #44
I'll try to get a version out today where you can manually set the file extension.

[2020-05-17 19:04] irundaia commented on #45
I've been trying to reproduce your issue, but I'm unable to. I've used the playframework g8 template to set up a new play project based on :

| sbt | 1.3.10 |
| scala | 2.13.2 |
| playframework | 2.8.1|

With that setup I can still compile sass files. If understand correctly, the scala version you setup for your project has nothing to do with the scala version that SBT uses internally (which I thi

[2020-05-17 21:58] Mat2095 commented on #45
In our project we are using sbt 1.3.10, scala 2.13.1 and playframework 2.8.1. Sassify 1.4.12 works fine for us.

[2020-05-17 22:38] irundaia commented on #44
I just released version 1.5.0 with the option to set the file extension. By default it is set to `css` such as not to break older build. Can you check whether this works out for you?

[2020-05-17 22:39] irundaia commented on #42
Closing due to inactivity

[2020-05-17 22:39] #42 closed, assigned to nobody

[2020-05-18 07:08] SanityResort commented on #45
Thanks for the quick replys. Actually this is something I was not aware of and it seems this is short coming in our application setups. We will try to look into that.

[2020-05-18 07:08] #45 closed, assigned to nobody

[2020-05-18 07:32] Mat2095 commented on #44
Yes, it works perfectly. Thank you!

[2020-05-18 07:32] #44 closed, assigned to nobody

[2020-05-18 10:39] Wangchimei opened #46 "CSS not compiled with v1.4.x & NoSuchMethodError with v1.5.0"
First of all, I am not familiar with Play yet, so please bear with me if this seems like a beginner question.

Since we are working with Sass with Play, we have included this plugin in our project according to the Play and sbt-sassify documentation.

Please see our project built as below,
- sbt 1.3.8
- Scala 2.13.1
- Play Framework 2.8.0

I tried using sbt-sassify 1.4.12 and 1.4.13 yesterday.
Af f

[2020-05-18 11:28] irundaia commented on #46
What os + jdk are you using? I'll try to reproduce, and fix your issues later today.
With version 1.5.0 I rewrote how we load the native libsass library, because of a deprecation warning on the old method. However, I notice that the new method isn't available on the Native class on your classpath. I'll need to do some investigation though.

[2020-05-19 07:07] Wangchimei commented on #46
Thank you very much for investigating this.  I am using macOS 10.15.4 and JDK 8 (java version "1.8.0_241").

[2020-05-19 09:54] Wangchimei commented on #46
Just a quick update to the current status, our team got the v1.4.x working perfectly with our project. What was preventing the plugin from compiling scss was actually the stylesheets folder under public folder that we used to use (generated by another compiler). Once the folder was deleted completely, it worked like a charm. :)
As for v1.5.0, NoSuchMethodError and NoClassDefFoundError are still sh

[2020-05-19 22:31] irundaia commented on #46
I can reproduce your issue with version 1.5.0. I've reverted the way that the native library is loaded.  For me, this fixed the issue with compiling in your setup. Could you have a look at whether this fixed your problems as well, using version 1.5.1?

[2020-05-20 08:08] Wangchimei commented on #46
It works now. Thank you so much. :)

[2020-05-20 08:08] #46 closed, assigned to nobody

[2020-07-05 18:51] #6 closed, assigned to irundaia

[2020-10-22 08:32] lolgab commented on #33
At [Codacy](https://codacy.com) we are moving from sbt-sass to sbt-sassify and I faced the same behaviour.
In our case updating sbt-web from 1.4.3 to 1.4.4 solved the problem. I don't know the root cause though.

[2020-11-01 02:12] bpossolo opened #47 "libsass is now deprecated... move to dartsass"
As of Oct 26, 2020, [libsass is now deprecated](https://sass-lang.com/blog/libsass-is-deprecated) :(

The official recommendation is to move to [dart sass](https://sass-lang.com/dart-sass) instead.

I'm not sure what this means for the sbt-sassify plugin but it seems like having the Dart Sass binary installed locally may become a pre-requisite in the future.

[2020-11-29 15:10] irundaia commented on #47
I’m pretty sure that the dart sass library can be compiled to a native library as well. I will have a look at it.

[2021-02-27 20:38] bpossolo opened #48 "sbt-sassify broken on Apple Silicon M1 + Big Sur"
I'm seeing a JNA library loading issue on my MacBookAir with Apple Silicon (M1) + Big Sur.

Here is my full setup:
- Big Sur 11.2.1
- sbt 1.4.7
- scala 2.13.5
- PlayFramework 2.8.7
- OpenJDK 11.0.9+11 (`/opt/homebrew/Cellar/openjdk@11/11.0.9/libexec/openjdk.jdk/Contents/Home`)
- sbt-sassify 1.5.1

Here's the full stack trace when running `last sassify`
[code]

Note: I'm seeing a [similar issue](ht

[2021-02-28 00:57] bpossolo commented on #48
for what it's worth, I uninstalled `openjdk@11` and installed `openjdk` instead (to pull in the latest version)
[code]

also tried zulu
[code]

but still have the same issue

[2021-03-04 00:17] bpossolo commented on #48
apparently Apple Silicon support was added in JNA 5.7.0
see here for the reply from Greg Methvin (@gmethvin)
https://discuss.lightbend.com/t/apple-silicon-m1-playframework-broken-on-apple-silicon/7924/10?u=bpossolo

[2021-03-16 13:42] mariussoutier commented on #48
JNA 5.7.0 doesn't seem to fix the problem...

[2021-03-16 19:55] bpossolo commented on #48
@mariussoutier the native library being invoked probably only supports intel architecture. I suspect when JNA loads the library, it doesn't pass through a rosetta layer

[2021-03-30 08:27] mariussoutier commented on #48
With Azul JDK 11.0.10 I no longer have any JNA problems.

[2021-03-31 10:41] macgrewal commented on #48
Unfortunately with Azul JDK 8.52.0.23, this is still a problem 😢

[2021-05-05 10:29] danellis commented on #47
Any progress on this? It would be great to be able to use `@use`, which only Dart Sass supports.

[2021-05-08 21:32] irundaia commented on #47
I'll try to see what the impact would be of migrating from libsass to a version of dart-sass compiled to libsass. Unfortunately, that would require having node on the target system. I haven't yet found a way to compile dart code to a shared library.

[2021-05-08 21:33] irundaia commented on #48
Unfortunately, I do not have an M1 mac to test this with. I'll see what I can do to use the javascript version of dart-sass (which should be the reference implementation anyways) this weekend.

[2021-05-15 06:58] irundaia commented on #47
@bpossolo  @danellis,

I've been making good progress with running a natively compiled version of dart-sass. Would you be able to help me test whether this solution works for you as well? (I'm trying to test it on as many platforms as I can.)

[2021-05-16 16:28] bpossolo commented on #47
@irundaia sure I can help you test it out on my M1 Mac!
I ended up moving to the dart-sass js implementation in the meantime since I was blocked but I'm sure others will benefit from the sbt-sassify update.

[2021-05-20 09:45] danellis commented on #47
@irundaia Yeah, I can help test (Intel macOS). I'm currently using dart-sass from IntelliJ's file watchers, so I'd be glad to get away from that.

[2021-07-17 05:33] vbabenkoru commented on #48
I traced this back to JNA 5.5.0 being packaged with the sbt launcher, and overriding the JNA version in the build.sbt for the app doesn't help. The JNA 5.5.0 dependency comes from `sbt.io` package. I've submitted a PR, but it may take some time to propagate.
https://github.com/sbt/io/issues/320

[2021-09-09 12:42] mgladdish commented on #43
Any progress? I've just hit this same issue with 1.5.1

[2022-01-16 20:16] rwsargent commented on #47
+1, I can test on Ubuntu / Fedora environments. Would love to use sassify and dartsass.

[2022-01-25 22:08] Lasering commented on #47
@irundaia Dart Sass releases its binaries on github https://github.com/sass/dart-sass/releases/tag/1.49.0. Changing the bundled binaries inside the published jar should solve the problem.

[2022-01-27 17:50] Lasering commented on #47
Nevermind, I thought you were invoking the cli. Now looking deeper I see your are using JNA to invoke the native methods from libsass, so moving to dart-sass will probably be harder since the native methods will be diferent.

[2022-02-24 20:57] irundaia commented on #47
@rwsargent, @Lasering, @danellis, @bpossolo, I've refactored sbt-sassify to include a version of dart-sass. Could you verify if this works with your setup.

To test the integration with dart-sass, take the following steps:

1. Clone this repo
2. Checkout the migrate_to_dart branch
3. run sbt publishLocal in the newly cloned sbt-sassify repository
4. In your own repository set the sbt-sassify versi

[2022-02-25 14:25] Lasering commented on #47
I might be doing something wrong. But for me it seems to not be working. The generated .css contains `@use` which should have been removed by dart-sass.

[2022-02-25 14:40] irundaia commented on #47
Do you have a minimal example?
Also, I might have forgotten to instruct you to use the dart compiler. >.<

Can you set the `SassKeys.useDartSass := true`?

[2022-02-25 15:09] Lasering commented on #47
That was the missing part. Now it works.

[2022-02-28 18:13] #48 closed, assigned to nobody

[2022-03-14 23:46] rwsargent commented on #47
I'm looking into this, running into an Akka mixed dependency error which I can't seem to resolve.

[2022-03-18 07:20] irundaia commented on #47
@rwsargent could you provide a minimal example of your setup that exhibits this behaviour?

[2022-04-02 19:37] michbarsinai opened #51 "Play/Scala, JDK17, Apple M1: NoClassDefFoundError: Could not initialize class com.sun.jna.Native"
When working with Play, using JDK17 on Apple Silicon M1, I get the below stack trace. The problem is solved when moving back to JDK11.

(sbt 1.6.2, Play 2.8.15)

[code]

[2022-04-03 10:08] irundaia commented on #51
Hi Michael,

Could you clarify which version of sbt-sassify you're using? I'm trying to reproduce this issue, but I cannot on my intel Mac.

[2022-04-03 10:15] michbarsinai commented on #51
I have this on my plugins.sbt:

addSbtPlugin("io.github.irundaia" % "sbt-sassify" % "1.5.2")

I'm happy to try test versions on my M1 Mac as needed.

-- Michael

[2022-04-03 10:18] irundaia commented on #51
Great that you'd like to help resolve this issue. Would it be possible for you to provide your plugins.sbt and build.sbt files? I personally wouldn't expect this to be an CPU architecture issue, but rather a dependency conflict.

[2022-04-03 10:34] michbarsinai commented on #51
plugins.sbt

[code]

build.sbt:

[code]

[2022-07-28 15:36] thadamski commented on #47
@irundaia we've been able to successfully using [your outlined steps here](https://github.com/irundaia/sbt-sassify/issues/47#issuecomment-1050257087), which happens to also fix a docker aarch64 libsass.so issue we were facing with the 1.x build of sbt-sassify.

Are you able to publish version 2.0.0? Even the snapshot build would be great as we're having difficulty including the local snapshot vers

[2022-07-28 16:52] Lasering commented on #47
@irundaia When I set `cssStyle` to Minified the generated css has errors, I'm not sure if they are coming from sbt-sass or from sass it self.

[2022-08-29 15:38] Lasering opened #52 "Change source dir to a sassify specific key"
### Problem
Currently the sassify source dir is defined with:
[code]
If I need to change the source dir for sassify I'm forced to change the `sourceDirectory` for all the sbt-web assets. This could be easily changed with:
[code]
Since `Assets / sassify / sourceDirectory` is not explicitly set sbt will search the "parent" `Assets / sourceDirectory`, thus producing the same behavior as the current c

[2022-10-12 12:57] leedsalex commented on #47
@irundaia Any update on this, can the dart-sass branch be merged in and released?